#state_SettingsState input.input-text {
	background: #eee;
	color: #333438;
	width: calc(150px*var(--ui-scale));
	padding: calc(5px*var(--ui-scale));
	margin: 0px 0px 0px 10px;
	font-size: calc(11px*var(--ui-scale));
}

#state_SettingsState input.errored {
	background: #facece;
}

#neuro_action_test {
	position: absolute;
	top: calc(100px*var(--ui-scale));
	left: calc(10px*var(--ui-scale));
	color: red;
	z-index: 300;
}

#state_SettingsState .container .content .categoryContainer .category .title:not(.first) {
	margin-top: calc(10px*var(--ui-scale));
}

#state_SettingsState .container .content .categoryContainer .category .title {
	background:rgb(223, 225, 236);
}

html[data-theme=dark]
#state_SettingsState .container .content .categoryContainer .category .title {
	background:rgb(46, 49, 56);
}

#state_SettingsState .title>.row>label {
	color:rgb(11, 135, 144);
	font-weight: bold;
}

html[data-theme=dark]
#state_SettingsState .title>.row>label {
	color:rgb(135, 249, 255);
}